@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi:ital@0;1&display=swap');

* {
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spline Sans Mono', monospace;
    /* font-family: 'Tiro Gurmukhi', serif; */
}

.app {
    display: grid;
    grid-template-columns: 400px 1fr;
    overflow: hidden;
    /*height: 100vh;*/
    width: 100vw;
    position: relative;
    min-height: 100vh;
}

input {
  font-family:'Spline Sans Mono', monospace; 
  /* font-family: 'Tiro Gurmukhi', serif; */
}
.note__left {
    padding: 40px 40px;
    height: 100vh;
    width: 100%;
    overflow: auto;


}
@media screen and (max-width:450px){
    .note__left {
        height: 400px;
        overflow: hidden;
        width: 100vw;
        /* display: none; */
    }

    /* .note__button-addNew{
        position: sticky;
    } */

    .note__left-notes {
        height: max-content;
        min-height: 200px;
        max-height: 400px;
        overflow: scroll;
        /* display: hidden;
        visibility: hidden; */

    }

    .app {
        grid-template-columns: 1fr;

    }
}

.note__new-body {
    max-height: 38px;
    overflow: hidden;
}
.note__new {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    /* background-color: rgb(214, 214, 245);
    border: 1px solid rgb(179, 179, 255); */
    border-radius: 5px;
    /* height: 120px; */
    max-height: 162px;
    overflow: hidden;
    background-color: rgb(202, 232, 251);
    border: 1px solid rgb(126, 197, 255);
}

input,textarea {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    font-family:'Spline Sans Mono', monospace; 
    /* font-family: 'Tiro Gurmukhi', serif; */
}
.note__new-title {
    font-size: 1.4rem;
    margin-bottom: 8px;
    font-weight: 500;
}
input {
    height: 5rem;
    padding: 10px 10px;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Spline Sans Mono', Courier, monospace;
    font-weight: 600;
}

textarea {
    height: 80%;
    padding: 10px 10px;
    font-size: 1.3rem;
    resize: none;
    margin-bottom: 20px;
}

@media screen and (max-width:450px) {
    textarea {
        height: 60vh;
    }

    button {
        margin-bottom: 10px;
        font-size: 1.1rem;
    }

    .note__right-body {
        height: 10px;
    }
}

.note__right {
    padding: 20px;
    border-left: 1px solid black;
    position: relative; 
    width: 100%;
    height: 100vh;
}

@media screen and (max-width:450px) {
    .note__right {
        width: 100vw;
        height: max-content;
    }
}
.note__right-title {
    font-weight: 700;
    /* width: 100%; */
    /* /* word-wrap: break-word;
    padding: 10px 10px;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px; */
    font-family: 'Spline Sans Mono', Courier, monospace;
}

.note__right-body {
    height: 75%;
    /* padding: 10px 10px;
    font-size: 1.3rem;
    resize: none;
    margin-bottom: 20px;
    overflow: scroll;
    width: 100vw; */
}

.note__show-title {
    font-weight: 700;
    /* width: 100%; */
    word-wrap: break-word; 
    padding: 10px 12px;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px; 
    font-family: 'Spline Sans Mono', Courier, monospace;
    max-width: 100%;
}

.note__show-body {
    height: 40vh;
    max-height: 40vh;
    padding: 10px 12px;
    font-size: 1.3rem;
    resize: none;
    margin-bottom: 20px;
    overflow: scroll; 
    /* width: 100vw; */
    color: rgb(21, 21, 21);
    width: 100%;
}
@media screen and (min-width:450px) {
    .note__show-body {
        height: 80%;
        max-height: 75vh;
    }
}
button {
    padding: 10px; 
    font-size: 1.4rem;
    background-color: rgb(90, 131, 90); 
    border-radius: 10px;  
    outline: none;
    border: none;
    width: 100%;
    color: white;

}

.button__right-delete, .button__right-save {
    width: 200px;
    margin-right: 10px;
    
}

button:hover {
    opacity: 0.9;
}
a {
    text-decoration: none;
    color: inherit;
}
.delete {
    background-color: red;
    opacity: 0.9;
}

.setting__option {
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    overflow: hidden;
    color: black;
    position: absolute;
    bottom: 10%;
    right: 5%;
    text-align: center;
    align-items: center;
    border-radius: 100px;
    justify-items: center;
    justify-content: center;
    outline: 2px solid black;
    cursor: pointer;

}
.setting__option i {
    display: block;
    font-size: 1.4rem;
    margin: 10px auto;

}
.setting__option::after{
    position: relative;
    content: none;
}
.setting__menu{
    position: absolute;
    bottom: 15%;
    right: 5%;
    border: 2px solid black;
    width: 300px;
    border-radius: 3px;
    /* visibility: hidden; */
    display: none;
    
    transition: all .1s ease-in; 
}

.visibility {
    display: block;
}

.visible {
    visibility: visible;
}
.setting__menu-item {
    padding: 20px 20px;
    border-bottom: 2px solid black;
    font-size: 1.2rem;
    background-color: rgb(254, 254, 203);
    display: flex;
    align-items: center;
}

.setting__menu-item i {
    margin-right: 12px;
}

.setting__menu-item:last-child {
    border-bottom: none;
}
.modal-before {
    position: relative;
}

.modal {
    display: flex;
    align-items: center;
    z-index: 1000;
    position: absolute;
    top: 20px;
    right: 10%;
    padding: 20px;
    border: 2px solid rgb(251, 163, 163);
    background-color: rgb(250, 224, 224);
    border-radius: 10px;
    animation: incoming .5s ease-in ;
    animation: fade 3s ease-in;
    
    max-width: 80vw; 
}

@media screen and (max-width:450px){
    .modal {
        top: 100px;
    }
}

.modal.success {
    background-color: rgb(227, 255, 185);
    border: 2px solid rgb(201, 249, 129);
}

@media screen and (max-width:450px) {
    .modal {
        top: 410px;
    }

    /* @keyframes incoming {
        0% {
            position: absolute;
            bottom: 10px;
        }

        100% {
            bottom: 20px;
        }
    } */
}

@keyframes incoming {
    from{
        top : -1%
    }

    to {
        top : 2%
    }
}

@keyframes outline {
    from {
        outline: 1px solid rgb(251, 163, 163);

    }

    to {
        outline: 4px solid red;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.modal i {
    color: black;
    margin-right: 15px;
    font-size: 1.5rem;
}
.note__mobile-options {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.224);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    backdrop-filter: blur(.8rem);
    border-top: 2px solid black;

}

.note__mobile-options i {
    font-size: 1.4rem;
    border-radius: 50px;
    border: 2px solid black;
    padding: 10px;
    margin-top: -60px;
    color : black;
    background-color:rgb(255, 194, 80);
}


@media screen and (min-width:450px) {
    .note__mobile-options {
        display: hidden;
    }
}

.note__mobile-modal {
    position: absolute;
    width: 80vw;
    top: 10%;
    right: 10%;
    background-color: white;
    z-index: 200000;
    backdrop-filter: blur(1rem);
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px 30px;
    height: max-content;
    display: none;
}

.modal-title {
    width: 100%;
    border-radius: 10px;
    background-color: aliceblue;
    height: 50px;
    font-size: 1.4rem;
    padding: 20px;
    font-weight: 700;

}


.modal-textarea {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    background-color: aliceblue;
    margin-top: 15px;
    padding: 20px;
    font-size: 1.1rem;
    margin-bottom: 20px;

}

button {
    background-color: rgb(183, 108, 252);
    background-image: linear-gradient(to bottom,rgb(99, 191, 252),rgb(0, 140, 255));
    transition: box-shadow .3s ease;
}

button:hover {
    box-shadow: 1px 1px 15px -2px rgb(99, 191, 252);
}

.fa-note {
    font-size: 4rem;
}

.note__footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note__date {
    font-size: .8rem;
    color: rgb(79, 79, 79);
}

.fa-file-pen, .fa-trash-can {
    /* color :rgb(90, 131, 90); */
    transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fa-file-pen:hover, .fa-trash-can:hover {
    transform: scale(1.3);
}

/* Emoji  */

.optional__modal {
    position: absolute;
    width: 60vw;
    max-width: 60vw;
    z-index: 2222222;
    top: 20vh;
    right: 20vw;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(2rem);
    border: 2px solid black;
    /* display: none; */

}

.optional__modal input {
    margin: 0;
    font-size: 10rem;
    width: 1.1rem;
    margin-right: 12px;

}

label {
    display: flex;
    align-items: center;
}
